ion-img {
    // width: 50%;
    // margin-right: 10px;
    height: 30vh;
    width: auto;
    margin: auto;
    display: block;
    margin-bottom: 30px;
}

ion-segment {
    margin-top: 50px;
}

.chips {
    margin-right: 20px;
}